doctype html
html(lang="en")
    head
        title shortme.fun
        // meta
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")

        meta(property="og:image" content="https://raw.githubusercontent.com/karolskolasinski/shortme.fun/master/public/img/logo.png")
        meta(name="author" content="Karol Skolasiński")
        meta(name="description" content="shortme.fun - link shortener")
        meta(name="keywords" content="shortener, link-shortener, shrink, shrink link, short link, tiny url, url short")
        // CSS
        link(href="public/css/style.css" type="text/css" rel="stylesheet" media="screen,projection")
        link(href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" type="text/css" rel="stylesheet"
            integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous")

    body
        header
            div.header-logo
                a(href="http://www.shortme.fun")
                    img(src="public/img/logo.png").logo
                div.logo-text shortme.fun
            div.filler

            img(src="public/img/header-bg.png").header-bg

            div.header-desc
                div.header-title Short your links - easy & free
                div.header-text Dream big. With shorten, simplified links. Build shorten links with this powerful tool.

        main
            section.section-wrapper
                form(action="shortMe" method="POST")
                    label(for="fullUrl")
                    input(name="fullUrl" id="fullUrl" type="url" required="required" placeholder="Make your links shorter").input-standard
                    div.premium-wrapper
                        label(for="premium").section-text Premium short link ending (optional):
                        input(name="premium" id="premium" type="text" placeholder="Premium").input-premium
                        span.section-text.section-example shortme.fun/Premium
                    button(type="submit") Shorten

                if full || short
                    div.shorten-wrapper
                        div.shorten
                            div.full= full
                            div.short
                                div.short-link
                                    a(href="http://shortme.fun/" + short).link shortme.fun/#{short}
                                button(onclick="copy()").copy Copy

            section
                div.desc
                    div.desc-title Simple shortener - that's all you really need!
                    div.desc-text Just paste the full url into input, click "shorten" and enjoy the shortened link.
                    div.divider-desc

                    div.desc-title The most recognized brands in the world love
                    span.logo-text.desc-logo-text  shortme.fun

                    div.comp
                        div.comp-item
                            img(src='public/img/space-cube.png').comp-img
                        div.comp-item
                            img(src='public/img/cheshire-county-hygiene-services.png').comp-img
                        div.comp-item
                            img(src='public/img/the-dance-studio.png').comp-img
                        div.comp-item
                            img(src='public/img/baby-swim.png').comp-img
                        div.comp-item
                            img(src='public/img/the-web-works.png').comp-img
                        div.comp-item
                            img(src='public/img/james-and-sons.png').comp-img
                        div.comp-item
                            img(src='public/img/beauty-box.png').comp-img
                        div.comp-item
                            img(src='public/img/greens-food-suppliers.png').comp-img
                        div.comp-item
                            img(src='public/img/crofts-accountants.png').comp-img
                        div.comp-item
                            img(src='public/img/fast-banana.png').comp-img
                    div.divider-comp

                if shortUrls
                    div.top-list List of most clicked links:
                        ul
                            each val in shortUrls
                                li
                                    a(href="http://shortme.fun/" + val.short).link shortme.fun/#{val.short}
                                    span  #{val.clicks}

        footer
            div.footer
                div.footer-logo
                    img(src="public/img/logo.png").logo
                    div.logo-text shortme.fun

                div.footer-text
                    span © 2020 shortme.fun created with passion and ❤️ by&nbsp
                    a(href="mailto:karolskolasinski@gmail.com").link Karol Skolasiński
                    span , logo&nbsp
                    a(href="http://www.freepik.com").link Designed by starline / Freepik
                    span , picture&nbsp
                    a(href="http://www.freepik.com").link Designed by pch.vector / Freepik

                div.social
                    div.social-item
                        a(href="https://twitter.com")
                            i.fab.fa-twitter
                    div.social-item
                        a(href="https://instagram.com")
                            i.fab.fa-instagram
                    div.social-item
                        a(href="https://facebook.com")
                            i.fab.fa-facebook-f
                    div.social-item
                        a(href="https://karolskolasinski.pl")
                            i.fas.fa-globe

script(src="public/js/copy.js")
